* {
  box-sizing: border-box;
  font-family: "Eczar", serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #222;
}
header {
  border-bottom: 1px solid #aaa;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

header h2 {
  margin: 0;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul li {
  display: inline-block;
  margin: 0 5px;
}

header ul li a {
  color: #222;
  text-decoration: none;
}

header ul li a:hover {
  color: #ef3f3f;
}

/* main */

main {
  padding: 30px 15px;
}
table {
  border: 1px solid #ddd;
  width: 100%;
}
table th {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  text-align: left;
  padding: 0 5px;
}

table td {
  line-height: 40px;
  padding: 0 5px;
}

.loading {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
